html
{
	height: 100%;
}

body
{
	background: rgb(155,154,152);
	background: -moz-linear-gradient(top,  rgba(155,154,152,1) 0%, rgba(191,190,188,1) 10%, rgba(221,221,221,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(155,154,152,1)), color-stop(10%,rgba(191,190,188,1)), color-stop(100%,rgba(221,221,221,1)));
	background: -webkit-linear-gradient(top,  rgba(155,154,152,1) 0%,rgba(191,190,188,1) 10%,rgba(221,221,221,1) 100%);
	background: -o-linear-gradient(top,  rgba(155,154,152,1) 0%,rgba(191,190,188,1) 10%,rgba(221,221,221,1) 100%);
	background: -ms-linear-gradient(top,  rgba(155,154,152,1) 0%,rgba(191,190,188,1) 10%,rgba(221,221,221,1) 100%);
	background: linear-gradient(to bottom,  rgba(155,154,152,1) 0%,rgba(191,190,188,1) 10%,rgba(221,221,221,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b9a98', endColorstr='#dddddd',GradientType=0 );
	padding: 100px;
}

#banner
{
	width:55%;
}

#main
{
	display: table;
	border-spacing: 10px;
}

#bProjects:hover
{
	color: #888888;
	cursor: pointer;
}

.project
{
	text-align: inherit;
	background-color: #aaaaaa;
	border-top-left-radius: 10px; 
	border-top-right-radius: 10px; 
	border-bottom-right-radius: 10px; 
	border-bottom-left-radius: 10px;
	
	display: table-cell;
	width: 20%;
	padding: 4px 0px 4px 0px;
	font-family: "Lucida Console", Monaco, monospace;
}