html
{
	height: 100%;
}

body
{
    margin: 0;
	background: rgb(155,154,152);
	background: -moz-linear-gradient(top,  rgba(155,154,152,1) 0%, rgba(191,190,188,1) 10%, rgba(221,221,221,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(155,154,152,1)), color-stop(10%,rgba(191,190,188,1)), color-stop(100%,rgba(221,221,221,1)));
	background: -webkit-linear-gradient(top,  rgba(155,154,152,1) 0%,rgba(191,190,188,1) 10%,rgba(221,221,221,1) 100%);
	background: -o-linear-gradient(top,  rgba(155,154,152,1) 0%,rgba(191,190,188,1) 10%,rgba(221,221,221,1) 100%);
	background: -ms-linear-gradient(top,  rgba(155,154,152,1) 0%,rgba(191,190,188,1) 10%,rgba(221,221,221,1) 100%);
	background: linear-gradient(to bottom,  rgba(155,154,152,1) 0%,rgba(191,190,188,1) 10%,rgba(221,221,221,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b9a98', endColorstr='#dddddd',GradientType=0 );
	padding: 50px;
}

.banner
{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#blog:hover
{
	cursor: pointer;
}

#main
{
	display: table;
    margin-left: auto;
    margin-right: auto;
	border-spacing: 10px;
	margin-top: 30px;
	
	position: static;
}

.project
{
	text-align: center;
	background-color: #aaaaaa;
	border-top-left-radius: 10px; 
	border-top-right-radius: 10px; 
	border-bottom-right-radius: 10px; 
	border-bottom-left-radius: 10px;
	
	display: table-cell;
	padding: 16px 16px 4px 16px;
	font-family: "Trebuchet MS", Monaco, monospace;
	font-size: 22px;
}

.back-desc
{
	text-align: center;
}

.flip
{
	perspective: 1000;
	transition: 0.6s;
	transform-style: preserve-3d;
}

.front, .back 
{
	backface-visibility: hidden;
	top: 0;
	left: 0;
}

.front 
{
	z-index: 2;
	
	transform: rotateY(0deg);
}

.back 
{
	transform: rotateY(180deg);
	position: absolute;
}

.flip:hover
{
	transform: rotateY(180deg);
}
